.container
  width: 100vw
  height: 100vh

  .logo
    height: 64px
    font-size 1.2rem
    border-right 1px solid #001529
    color: #fff
    display: flex
    justify-content: center
    align-items: center
    background: #001529
    box-sizing content-box

