.head
  height: 64px
  border-bottom 1px solid #ebedf0
  background: #fff
  display: flex
  align-items: center

  .btn-coll
    margin-left 20px

  .config
    margin-left auto
    margin-right 20px
